*{
    margin: 0px;
    padding: 0px;
}                            
.Section-main{
    width: 100%;
    height:auto;
    position: fixed;
    margin-top: -90px;
    
}
nav .logo{
    width: 35%;
    padding: 6px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: linear-gradient(90deg, #293b90, #98189a) !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 15px;

}
nav ul{
    margin-right: 30px;

}
nav ul li{
    display: inline-block;
    list-style: none;
}
nav ul li a{
    color: white;
    display: block;
    padding: 0 15px;
    line-height: 70px;
    font-size: 20px;
    transition:1s;
    text-decoration: none;
}
nav ul ul{
    position: absolute;
    top: 85px;
    border-top: 3px solid #adb1c4;
    opacity: 0;
    visibility: hidden;
}
nav ul li:hover>ul{
    top: 60px;
    opacity: 1;
    visibility: visible;
    transition: 1s linear;
}
nav ul li ul li a{
    background-color: #98189a;
    color: white;
    font-size: 15px;
    padding: 0px 10px;
    margin: 0px 2px;
    line-height: 50px;
}
nav ul li ul li a:hover{
    background-color: #ffffff;
    color: #98189a;
    font-size: .9375rem;
    transition: 0s;
    line-height: 50px;
}
nav ul ul li{
    width: 250px;
    display: list-item;
    position: relative;

}

span{
    color: #7e3f98;
    font-size: 30px;
    font-weight: 500;
}

.section-2{
    background-image: url(./image/b2.png);
    height: 70vh;
    margin-top: 80px;
    background-position: 50%;
    background-size: cover;
    width: 100% ;
    /* padding: 0 ; */
    display: flex;
}
.div1{
    width: 45%;
}
.div2{
    width: 60%;
}
.p{
    font-size: 17px;
    letter-spacing: 2px;
    margin-top: 30px;
    font-weight: 200;
    font-family: Lato, sans-serif;
    padding-right: 20px;
}
.h1{
    color: #7e3f98;
    padding-top: 70px;
    font-weight: 300;
    font-size: 40px;
    font-family: Lato, sans-serif ;
}
#button-1{
    background: linear-gradient(90deg, #9ba6dc, #98189a);
    color: #fff;
    width: 20%;
    height: 40px;
    border: none;
    padding: 8px;
    margin-left: 50%;
    border-radius: 5px;
    margin-top: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    
}
.section-3{
    height: auto;
    width: 100%;
    background-color: #800080;
    padding-bottom: 100px;
}
.h2{
    padding: 40px;
    color: white;
    font-size: 50px;
    text-align: center;
    font-weight: 300;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.box{
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
}
.d{
        font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Xanh Mono', monospace;
}

.box-1{
    background-color: #fff;
    width: 33%;
    height: auto;
    margin: 5px;
    border-radius: 5px;
}
.p{
    font-family: 'PT Serif', serif;
    font-size: 15px;
    margin-top: -10px;
}
.title-1 {
    color: #7e3f98;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Xanh Mono', monospace;
    font-weight: normal;
}

.span1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* row-gap: 20; */
    padding: 10px;
}
.img-1{
    padding: auto;

    width: 10%;
}
.p-2{
    font-size: 14px;
    padding: 5px 20px;
    font-family: Lato, sans-serif;
    font-weight: 400;
}
.p2{
    color: grey;
    font-size: 13px;
    font-family: 'PT Serif', serif;
}
.svg{
    margin-left: -10px;
    display: flex;
}
.svg-2{
    margin-left: 65px ;
}


.section-4{
    background-color: rgb(250, 230, 255);
    display: flex;
    padding: 100px;
}
.d1{
    width: 40%;
    padding: 40px;
}
.h3{
    padding-top: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Xanh Mono', monospace;
    transition-duration: .5s;
} 
._about_sub_title_border {
    border-bottom: 3px solid;
    border-image-source: linear-gradient(100deg, #293b90, #98189a, #fae6ff);
    border-image-slice: 1;
    width: 200px;
    margin-top: -10px;
    font-family: Lato, sans-serif !important;
}
.p3{
    font-size: 19px;
    font-weight: 100;
    padding: 15px;
    text-align: justify;
    margin-top: 20px;
    font-family: 'Source Sans Pro', sans-serif;
font-family: 'Xanh Mono', monospace;
}
span{
    color: #98189a;
}
.d3{
    width: 30%;
}
.d4{
    width: 80%;
}
.d5{
    width: 100%;
}
.d6{
    display: flex;    
}
.section-5{
    width: 100%;
}
.p4{
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Xanh Mono', monospace;
    text-align: justify;
}
.ol{
    width: 25px;
    height: 25px;
    margin-right: 20px;
}
.about{
    bottom: 0;
    background: linear-gradient(90deg, #293b90, #98189a);
    /* opacity: .9; */
    padding: 10px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about-1{
    width: 33%;
}
.about-2{
    width: 33%;
}
.about-3{
    width: 33%;
}
._socialIconDiv {
    padding-bottom: 10px;
}
._footerDiv, ._siteTitle {
    font-family: Lato, sans-serif !important;
}
._contactUsTxt{
    color: #fff;
    font-size: 13px;
    font-family: Lato, sans-serif !important;
    margin-left: 10px;
    opacity: .8 !important;
}
svg {
    vertical-align: middle;
}

.footer-copyright{
    color: white;
    align-self: center;
    margin: auto;
    font-size: 16px;
}

.text-center {
    text-align: center !important;
}

.footer-copyright {
    background-color: #612695 !important;
    font-family: Lato, sans-serif !important;
    /* height: 100px; */
}

.pp{
    padding: 20px;
}
#h1{
    font-size: 20px;
    font-weight: 700;
    color: #fff !important;
    /* padding-top: 20px !important; */
    font-family: Lato, sans-serif !important;
}
#h2{
    font-size: 14px;
    margin-top: 20px;
    text-align: justify !important;
    opacity: .7;
    color: #fff;
    font-family: Lato, sans-serif !important;
    margin-bottom: 1rem;
    line-height: 1.5;

}

@media only screen and (max-width: 1100px) {
.section-4{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: auto;
}
.svg-2{
    margin: 0px 10px;
}
.d1{
    width: 100%;
    height: auto;
}
.d3{
    width: 100%;
    height: auto;
}
.d5{
    width: 140%;
    height: auto;
}
.about-1{
    width: 100%;
}
.about-2{
    width: 0%;
}
.about-3{
    width: 100%;
}
}
@media only screen and (max-width: 1000px) {
    .box{
        width: auto;
        display:flex;
        flex-direction: row;
        overflow: hidden;
        flex-wrap: wrap;
        height: auto;
    }
    .box-1{
        width: 48%;
    }
    #box-6{
        height: 0px;
    }
    .section-4{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: auto;
    }
    .svg-2{
        margin: 0px 10px;
    }
    .d1{
        width: 100%;
        height: auto;
    }
    .d3{
        width: 100%;
        height: auto;
    }
    .d5{
        width: 140%;
        height: auto;
    }
    .about-1{
        width: 100%;
    }
    .about-2{
        width: 0%;
    }
    .about-3{
        width: 100%;
    }
}




@media only screen and (max-width: 800px) {
    .section-2{
        background-color: #e3e8ff;
        background-image: none;
        height: auto;
        width: auto;
    }
    p{
        font-size: 17px;
        letter-spacing: 2px;
        /* margin-top: 30px; */
        font-weight: 200;
        font-family: Lato, sans-serif;
        padding-right: 20px;  
    }
    #box-6{
        height: auto;
    }
    .div2{
        width: 100%;
    }
    .div1{
        width: 0%;
        align-items: hide;
    }
    .span3{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-right: 30px;
        padding-bottom: 50px;
    }
    .box{
        width: auto;
        display:flex;
        flex-direction: row;
        overflow: hidden;
        flex-wrap: wrap;
    }
    .box-1{
        width: auto;
    }
    .section-4{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: auto;
    }
    .svg-2{
        margin: 0px 10px;
    }
    .d1{
        width: 100%;
        height: auto;
    }
    .d3{
        width: 100%;
        height: auto;
    }
    .d5{
        width: 140%;
        height: auto;
    }
    .about-1{
        width: 100%;
    }
    .about-2{
        width: 0%;
    }
    .about-3{
        width: 100%;
    }
    }